@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

 html, body {
  height: 100%; /* Garante que o body e html ocupem toda a tela */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* O layout ocupará toda a altura da janela */
}

header, footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header {
  flex-shrink: 0; /* O header mantém o seu tamanho e não diminui */
}

footer {
  flex-shrink: 0; /* O footer mantém o seu tamanho e não diminui */
}

.content {
  flex-grow: 1; /* O conteúdo principal cresce para ocupar o espaço restante */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-right: 20px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info h3 {
  font-size: 32px;
  margin-bottom: 5px;
}

.info p {
  font-size: 18px;
  color: #555;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
}
